<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32006">
      <setting label="32004" type="bool" id="OSenabled" default="true"/>
      <!--<setting label="32005" type="number" id="OSpriority"  default="10"/>-->
      <setting label="32003" type="lsep"/>
      <setting label="32001" type="text" id="OSuser" default=""/>
      <setting label="32002" type="text" id="OSpass" default="" option = "hidden"/>
    </category> 
    <category label="32007">
      <setting label="32004" type="bool" id="A7enabled" default="true"/>
      <!--<setting label="32005" type="number" id="A7priority"  default="20"/>-->
    </category>
    <category label="32008">
      <setting label="32004" type="bool" id="PNenabled" default="false"/>
      <!--<setting label="32005" type="number" id="PNpriority"  default="30"/>-->
    </category>   
    <category label="32009">
      <setting label="32010" type="number" id="CacheTimeNotFound" default="2"/>
      <setting label="32011" type="number" id="CacheTimeFound" default="30"/>
      <setting label="32012" type="action" action="RunScript(script.skinsubtitlechecker, action=flushcache)"/>
    </category>
    <!--TODO: Enable when external providers are implemented-->
    <!--<category label="32017">
      <setting label="32018" type="number" id="ProviderSearchInterval" default="1800"/>
      <setting label="32019" type="action" action="RunScript(script.skinsubtitlechecker, action=flushproviders)"/>
      <setting label="32020" type="action" action="RunScript(script.skinsubtitlechecker, action=updateproviders)"/>
    </category>-->
    <category label="32021">
      <setting label="32022" type="enum" id="NotificationMethod" lvalues="32023|32024"/>
      <setting label="32027" type="number" id="SkinPollingInterval" default="200"/>
      <setting label="32025" type="number" id="NotificationPollingInterval" default="2000"/>
      <setting label="32026" type="number" id="NotificationDuration" default="2"/>
    </category>
</settings>
